.dashboardcontainer {
  height: 2492px;
  background: linear-gradient(135deg, #fffbeb, #fff7ed);
}

.dashboardinsights {
  display: flex;
  gap: 10px;
  margin: 20px 0 0 25px;
}

.dashinsight {
  height: 190px;
  width: 250px;
  border-radius: 14px;
  background: linear-gradient(135deg, #fffbeb, #fefce8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.dashinsight1 {
  height: 190px;
  width: 250px;
  border-radius: 14px;
  background: linear-gradient(135deg, #f8fafc, #fafafa);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.dashinsight2 {
  height: 190px;
  width: 250px;
  border-radius: 14px;
  background: linear-gradient(135deg, #fff1f2, #fdf2f8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.dashinsight3 {
  height: 190px;
  width: 250px;
  border-radius: 14px;
  background: linear-gradient(135deg, #ecfdf5, #f0fdf4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.dashinsightrow {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.dashinsightrow p {
  color: #52525c;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.dashinsight span {
  background: linear-gradient(135deg, #ffb900, #fdc700, #fe9a00);
  border-radius: 16px;
  height: 44px;
  width: 44px;
  color: #ffffff;
  padding: 8px;
  font-size: 28px;
}

.dashinsight1 span {
  background: linear-gradient(135deg, #90a1b9, #62748e, #45556c);
  border-radius: 16px;
  height: 44px;
  width: 44px;
  color: #ffffff;
  padding: 8px;
  font-size: 28px;
}

.dashinsight2 span {
  background: linear-gradient(135deg, #ff637e, #f6339a, #ec003f);
  border-radius: 16px;
  height: 44px;
  width: 44px;
  color: #ffffff;
  padding: 8px;
  font-size: 28px;
}

.dashinsight3 span {
  background: linear-gradient(135deg, #00d492, #00c950, #009966);
  border-radius: 16px;
  height: 44px;
  width: 44px;
  color: #ffffff;
  padding: 8px;
  font-size: 28px;
}

.dashinsight h2,
.dashinsight1 h2,
.dashinsight2 h2,
.dashinsight3 h2 {
  color: #18181b;
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0 0 20px;
}

.dashgrowth {
  color: #e17100;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0 20px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.categoryperformance {
  height: 552px;
  width: 1040px;
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  margin: 20px 0 0 25px;
  background-color: #ffffff;
}

.catperformanceheader {
  height: 96px;
  width: 1040px;
  border-radius: 14px;
  background: linear-gradient(135deg, #fffbeb, #fefce8);
  padding: 20px;
}

.catperformanceheader h2 {
  color: #18181b;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}

.catperformanceheader p {
  color: #52525c;
  font-size: 16px;
  font-weight: 400;
  margin-top: 14px;
}

.catperformdoticon {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  color: #d08700;
}

.catperfomancerow {
  display: flex;
  gap: 10px;
  margin-top: 40px 0 0 20px;
  padding: 20px;
}

.catperformer {
  height: 184px;
  width: 244px;
  border-radius: 16px;
  border: 1px solid #e4e4e7;
}

.catperformerrow {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.catperformerlefttitle {
  color: #18181b;
  font-size: 14px;
  font-weight: bold;
}

.catperformerleftnote {
  color: #71717b;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.catperformerright {
  height: 44px;
  width: 44px;
  border-radius: 14px;
  color: #ffffff;
  padding: 12px;
  background-color: #d4af37;
  font-size: 20px;
}

.catperformerprice {
  color: #d4af37;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.catperformerbottom {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  align-items: center;
}

.catperformertag {
  color: #d4af37;
  font-size: 10px;
  width: fit-content;
  border: 1px solid #d4af37;
  padding: 4px;
  font-weight: 400;
  border-radius: 8px;
}

.catperformerdetails {
  color: #9f9fa9;
  font-size: 12px;
  font-weight: 400;
}

.catperformerright1 {
  height: 44px;
  width: 44px;
  border-radius: 14px;
  color: #ffffff;
  padding: 12px;
  background-color: #6366f1;
  font-size: 20px;
}

.catperformerright2 {
  height: 44px;
  width: 44px;
  border-radius: 14px;
  color: #ffffff;
  padding: 12px;
  background-color: #ef4444;
  font-size: 20px;
}

.catperformerright3 {
  height: 44px;
  width: 44px;
  border-radius: 14px;
  color: #ffffff;
  padding: 12px;
  background-color: #f59e0b;
  font-size: 20px;
}

.catperformerright4 {
  height: 44px;
  width: 44px;
  border-radius: 14px;
  color: #ffffff;
  padding: 12px;
  background-color: #ec4899;
  font-size: 20px;
}

.catperformerright5 {
  height: 44px;
  width: 44px;
  border-radius: 14px;
  color: #ffffff;
  padding: 12px;
  background-color: #8b5cf6;
  font-size: 20px;
}

.catperformerright6 {
  height: 44px;
  width: 44px;
  border-radius: 14px;
  color: #ffffff;
  padding: 12px;
  background-color: #06b6d4;
  font-size: 20px;
}

.catperformerright7 {
  height: 44px;
  width: 44px;
  border-radius: 14px;
  color: #ffffff;
  padding: 12px;
  background-color: #10b981;
  font-size: 20px;
}

.catperformerprice1 {
  color: #6366f1;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.catperformerprice2 {
  color: #ef4444;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.catperformerprice3 {
  color: #f59e0b;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.catperformerprice4 {
  color: #ec4899;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.catperformerprice5 {
  color: #8b5cf6;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.catperformerprice6 {
  color: #06b6d4;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.catperformerprice7 {
  color: #10b981;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.catperformertag1 {
  color: #6366f1;
  font-size: 10px;
  width: fit-content;
  border: 1px solid #6366f1;
  padding: 4px;
  font-weight: 400;
  border-radius: 8px;
}

.catperformertag2 {
  color: #ef4444;
  font-size: 10px;
  width: fit-content;
  border: 1px solid #ef4444;
  padding: 4px;
  font-weight: 400;
  border-radius: 8px;
}

.catperformertag3 {
  color: #f59e0b;
  font-size: 10px;
  width: fit-content;
  border: 1px solid #f59e0b;
  padding: 4px;
  font-weight: 400;
  border-radius: 8px;
}

.catperformertag4 {
  color: #ec4899;
  font-size: 10px;
  width: fit-content;
  border: 1px solid #ec4899;
  padding: 4px;
  font-weight: 400;
  border-radius: 8px;
}

.catperformertag5 {
  color: #8b5cf6;
  font-size: 10px;
  width: fit-content;
  border: 1px solid #8b5cf6;
  padding: 4px;
  font-weight: 400;
  border-radius: 8px;
}

.catperformertag6 {
  color: #06b6d4;
  font-size: 10px;
  width: fit-content;
  border: 1px solid #06b6d4;
  padding: 4px;
  font-weight: 400;
  border-radius: 8px;
}

.catperformertag7 {
  color: #10b981;
  font-size: 10px;
  width: fit-content;
  border: 1px solid #10b981;
  padding: 4px;
  font-weight: 400;
  border-radius: 8px;
}

.dashactivity {
  height: 356px;
  width: 1040px;
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin: 25px 0 0 20px;
}

.dashactivityhead {
  height: 102px;
  width: 1040px;
  border-radius: 14px;
  background: linear-gradient(135deg, #fffbeb, #fefce8);
  padding: 25px;
}

.dashactivityhead h2 {
  color: #18181b;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dashactivityhead p {
  color: #52525c;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}

.dashactivityicon {
  color: #e17100;
  font-size: 20px;
}

.dashactivitycont {
  height: 178px;
  width: 244px;
  background: linear-gradient(135deg, #fff7ed, #fffbeb);
  border-radius: 16px;
  border: 1px solid #ffd6a8;
  padding: 20px;
}

.dashactivityrow {
  display: flex;
  justify-content: space-between;
}

.dashactivityicon {
  color: #f54900;
  font-size: 20px;
}

.dashactivitytag {
  border-radius: 8px;
  padding: 4px;
  color: #f54900;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #f54900;
}

.dashactivitynum {
  color: #18181b;
  font-size: 30px;
  font-weight: bold;
  margin-top: 18px;
}

.dashactivitynum1 {
  color: #18181b;
  font-size: 20px;
  font-weight: bold;
  margin-top: 18px;
}

.dashactivitynote {
  color: #52525c;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.dashactivityendnotes {
  color: #ca3500;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.dashboardrow {
  display: flex;
  margin: 25px 0 0 20px;
  gap: 10px;
}

.dashactivitycont1 {
  height: 178px;
  width: 244px;
  background: linear-gradient(135deg, #ecfeff, #eff6ff);
  border-radius: 16px;
  border: 1px solid #a2f4fd;
  padding: 20px;
}

.dashactivityicon1 {
  color: #0092b8;
  font-size: 20px;
}

.dashactivitytag1 {
  border-radius: 8px;
  padding: 4px;
  color: #007595;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #53eafd;
}

.dashactivityendnotes1 {
  color: #007595;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.dashactivitycont2 {
  height: 178px;
  width: 244px;
  background: linear-gradient(135deg, #fffbeb, #fefce8);
  border-radius: 16px;
  border: 1px solid #fee685;
  padding: 20px;
}

.dashactivityicon2 {
  color: #e17100;
  font-size: 20px;
}

.dashactivitytag2 {
  border-radius: 8px;
  padding: 4px;
  color: #bb4d00;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ffd230;
}

.dashactivityendnotes2 {
  color: #bb4d00;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.dashactivitycont3 {
  height: 178px;
  width: 244px;
  background: linear-gradient(135deg, #ecfdf5, #f0fdf4);
  border-radius: 16px;
  border: 1px solid #a4f4cf;
  padding: 20px;
}

.dashactivityicon3 {
  color: #009966;
  font-size: 20px;
}

.dashactivitytag3 {
  border-radius: 8px;
  padding: 4px;
  color: #007a55;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #5ee9b5;
}

.dashactivityendnotes3 {
  color: #007a55;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.financialserv {
  height: 476px;
  width: 1040px;
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin: 25px 0 0 20px;
}

.dashactivitytag4 {
  border-radius: 8px;
  padding: 4px;
  color: #bb4d00;
  height: 24px;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ffd230;
}

.dashactivityendnotes4 {
  color: #bb4d00;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.dashactivitytag5 {
  border-radius: 8px;
  padding: 4px;
  color: #7008e7;
  height: 24px;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #c4b4ff;
}

.dashactivityendnotes5 {
  color: #7008e7;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.dashactivitytag6 {
  border-radius: 8px;
  padding: 4px;
  color: #008236;
  height: 24px;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #7bf1a8;
}

.dashactivityendnotes6 {
  color: #008236;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.dashactivitytag7 {
  border-radius: 8px;
  padding: 4px;
  color: #c6005c;
  height: 24px;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #fda5d5;
}

.dashactivityendnotes7 {
  color: #c6005c;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.finserv {
  height: 34px;
  width: 34px;
  border-radius: 10px;
  background-color: #d4af37;
  color: #ffffff;
  padding: 5px;
  font-size: 24px;
}

.finserv1 {
  height: 34px;
  width: 34px;
  border-radius: 10px;
  background-color: #7f22fe;
  color: #ffffff;
  padding: 5px;
  font-size: 24px;
}

.finserv2 {
  height: 34px;
  width: 34px;
  border-radius: 10px;
  background-color: #00a63e;
  color: #ffffff;
  padding: 5px;
  font-size: 24px;
}

.finserv3 {
  height: 34px;
  width: 34px;
  border-radius: 10px;
  background-color: #e60076;
  color: #ffffff;
  padding: 5px;
  font-size: 24px;
}

.finservshort {
  height: 82px;
  width: 244px;
  border-radius: 14px;
  border: 1px solid #fee685;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.finservshort1 {
  height: 82px;
  width: 244px;
  border-radius: 14px;
  border: 1px solid #ddd6ff;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.finservshort2 {
  height: 82px;
  width: 244px;
  border-radius: 14px;
  border: 1px solid #b9f8cf;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.finservshort3 {
  height: 82px;
  width: 244px;
  border-radius: 14px;
  border: 1px solid #fccee8;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.finserveshorticon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #d4af37;
  color: #ffffff;
  padding: 8px;
  font-size: 18px;
}

.finserveshorticon1 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: linear-gradient(135deg, #8e51ff, #9810fa);
  color: #ffffff;
  padding: 8px;
  font-size: 18px;
}

.finserveshorticon2 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: linear-gradient(135deg, #00c950, #009966);
  color: #ffffff;
  padding: 8px;
  font-size: 18px;
}

.finserveshorticon3 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: linear-gradient(135deg, #f6339a, #ec003f);
  color: #ffffff;
  padding: 8px;
  font-size: 18px;
}

.finservshortdetails h2 {
  color: #18181b;
  font-size: 24px;
  font-weight: bold;
}

.finservshortdetails p {
  color: #52525c;
  font-size: 12px;
  font-weight: 400;
  margin-top: 6px;
}

.lastdashinsight {
  height: 180px;
  width: 342px;
  border-radius: 14px;
  background: linear-gradient(135deg, #fffbeb, #fefce8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.lastdashinsight1 {
  height: 180px;
  width: 342px;
  border-radius: 14px;
  background: linear-gradient(135deg, #eff6ff, #eef2ff);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.lastdashinsight2 {
  height: 180px;
  width: 342px;
  border-radius: 14px;
  background: linear-gradient(135deg, #ecfdf5, #f0fdf4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.lastdashinsighttitle {
  color: #52525c;
  font-size: 16px;
  font-weight: 400;
}

.lastdashinsightvalue {
  color: #18181b;
  font-size: 48px;
  font-weight: bold;
}

.lastdashinsightnote {
  color: #52525c;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
}

.lastdashinsightnote1 {
  color: #e17100;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
}

.lastdashicon {
  color: #e17100;
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .dashboardcontainer {
    width: 100%;
    height: auto;
    padding: 32px 0px;
  }

  .activityheader {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .activityheadline {
    width: 100%;
  }

  .gradient-text {
    font-size: 24px;
  }

  .activitydesc {
    font-size: 10px;
  }

  .dashboardinsights {
    width: 100%;
    flex-direction: column;
  }

  .dashinsight,
  .dashinsight1,
  .dashinsight2,
  .dashinsight3 {
    width: 90%;
  }

  .categoryperformance {
    width: 90%;
    height: auto;
  }

  .catperformanceheader {
    width: 100%;
    padding: 16px;
  }

  .catperfomancerow {
    flex-direction: column;
  }

  .catperformer {
    width: 100%;
  }

  .dashactivity {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
  }

  .dashactivityhead {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .dashactivityhead p {
    font-size: 10px;
  }

  .dashboardrow {
    flex-direction: column;
  }

  .dashactivitycont,
  .dashactivitycont1,
  .dashactivitycont2,
  .dashactivitycont3 {
    width: 95%;
  }

  .financialserv {
    width: 90%;
    height: auto;
    padding-bottom: 24px;
  }

  .finservshort,
  .finservshort1,
  .finservshort2,
  .finservshort3 {
    width: 95%;
  }

  .dashboardrow {
    width: 90%;
  }

  .lastdashinsight,
  .lastdashinsight1,
  .lastdashinsight2 {
    width: 100%;
  }
}
