.mobile-navbar-container {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-navbar-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    position: relative;
  }

  .mobile-logo {
    width: 100px;
    height: auto;
  }

  .mobile-menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .mobile-nav-links-container {
    width: 287px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 16px 10px;
    position: absolute;
    right: 10px;
    top: 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.3);
    z-index: 9;
  }

  .mobile-nav-links-container a {
    text-decoration: none;
  }

  .mobile-link-container {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(63, 63, 71, 1);
    cursor: pointer;
    padding-left: 16px;
  }

  .mobile-active-link {
    width: 100%;
    background: linear-gradient(90deg, #ffb900 0%, #fdc700 50%, #fe9a00 100%);
    box-shadow: 0px 4px 6px -4px rgba(254, 154, 0, 0.4);
    box-shadow: 0px 10px 15px -3px rgba(254, 154, 0, 0.4);
    color: #fff;
    border-radius: 14px;
  }
}

@media screen and (max-width: 360px) {
  .mobile-navbar-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }
}
