.sidebar-container {
  width: 288px;
  height: 720px;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 251, 235, 0.5) 50%,
    #ffffff 100%
  );
  border-right: 1.25px solid rgba(254, 230, 133, 0.5);
  box-shadow: 0px 25px 50px -12px rgba(254, 154, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar-logo-container {
  background: linear-gradient(90deg, #fffbeb 0%, #fefce8 100%);
  border-bottom: 1.25px solid rgba(254, 230, 133, 0.5);
  padding: 24px;
}

.company-logo {
  width: 196px;
  height: 52px;
  cursor: pointer;
  margin-left: 24px;
  margin-top: 24px;
}

.sidebar-links-container {
  width: 287px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 24px;
}

.sidebar-links-container a {
  text-decoration: none;
}

.link-container {
  width: 247px;
  height: 52px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(63, 63, 71, 1);
  cursor: pointer;
  padding-left: 16px;
}

.active-link {
  width: 90%;
  background: linear-gradient(90deg, #ffb900 0%, #fdc700 50%, #fe9a00 100%);
  box-shadow: 0px 4px 6px -4px rgba(254, 154, 0, 0.4);
  box-shadow: 0px 10px 15px -3px rgba(254, 154, 0, 0.4);
  color: #fff;
  border-radius: 14px;
}

.sidebar-admin-logout-container {
  padding: 17.25px 16px;
  width: 100%;
  background: linear-gradient(90deg, #fffbeb 0%, #fefce8 100%);
  border-top: 1.25px solid rgba(254, 230, 133, 0.5);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.admin-container {
  width: 95%;
  height: auto;
  background: rgba(255, 255, 255, 1);
  border-top: 1.25px solid rgba(254, 230, 133, 0.5);
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-icon-container {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ffb900 0%, #fdc700 50%, #fe9a00 100%);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
}

.admin-content-container {
  display: flex;
  flex-direction: column;
}

.admin-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(24, 24, 27, 1);
}
.admin-mail {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(82, 82, 92, 1);
}

.admin-online-container {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(0, 188, 125, 1);
  box-shadow: 0px 1px 2px -1px rgba(0, 188, 125, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(0, 188, 125, 0.5);
}

.logout-container {
  width: 100%;
  height: fit-content;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(63, 63, 71, 1);
  padding-left: 24px;
  cursor: pointer;
}

.logout-icon {
  width: 16px;
  height: 16px;
  color: rgba(251, 44, 54, 1);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}
